<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div class="main-container c-column big-gap">
        <div class="c-row-phone-reverse medium-gap">
            <div class="c-column">
                <h1 class="fc-blue">{{ $.Site.Data.personal.firstname}} {{ $.Site.Data.personal.lastname }}</h1>
                <p class="no-margins fc-orange">{{ $.Site.Data.personal.title }}</p>
                <p class="text-justified">{{ $.Site.Data.personal.motivation }}</p>
            </div>
            <img src="img/photo.jpg" class="profile-picture"/>
        </div>
        <div class="c-column fs-default" style="white-space: nowrap;">
            <div class="c-row-phone-no-reverse full-width justify-space-between">
                <div class="c-row small-gap personal-item align-center"><img class="infos-icon" src="svg/mail.svg"/><a class="fc-black no-underline" href="mailto:{{ $.Site.Data.personal.mail}}">{{ $.Site.Data.personal.mail}}</a></div>
                <div class="c-row small-gap personal-item align-center"><img class="infos-icon" src="svg/linkedin.svg"/><a class="fc-black no-underline" href="{{ $.Site.Data.personal.linkedin}}">{{ trim $.Site.Data.personal.linkedin "https://"}}</a></div>
            </div>
            <div class="c-row-phone-no-reverse full-width justify-space-between">
                <div class="c-row small-gap personal-item align-center"><img class="infos-icon" src="svg/phone.svg"/><span>{{ $.Site.Data.personal.phone}}</span></div>
            </div>
        </div>
        <div class="c-column medium-gap">
            <div class="c-row small-gap align-center">
                <img src="svg/section_dot.svg" class="section-dot" />
                <h1 class="fc-blue section-title fs-title">COMPÉTENCES</h1>
                <div class="c-row section-divider align-center">
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                    <span class="section-divider-line"></span>
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                </div>
            </div>
            <div class="c-row small-gap" style="flex-wrap: wrap;">
                {{ range $.Site.Data.skills }}
                    <span class="skill-item fc-white">{{ .name }}</span>
                {{ end }}
            </div>
        </div>
        <div class="c-column medium-gap">
            <div class="c-row small-gap align-center">
                <img src="svg/section_dot.svg" class="section-dot" />
                <h1 class="fc-blue section-title fs-title">EXPÉRIENCE</h1>
                <div class="c-row section-divider align-center">
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                    <span class="section-divider-line"></span>
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                </div>
            </div>
            <div class="c-row medium-gap" style="flex-wrap: wrap;">
                {{ range $.Site.Data.jobs }}
                    <div class="c-column small-gap">
                        <div class="c-column">
                            <h2 class="fs-smallTitle">{{ .title }}</h2>
                            <a href="{{ .website }}" target="_blank" class="fs-smallTitle fc-black no-underline job-subtitle">{{ .subtitle }}</a>
                        </div>
                        <h3 class="fc-orange fs-default">{{ .years }}</h3>
                        <div class="c-column small-gap">
                        {{ range .tasks }}
                            <div class="c-row small-gap align-center"><img class="task-dot" src="svg/task_dot.svg" /><span class="fs-small">{{ . }}</span></div>
                        {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="c-column medium-gap">
            <div class="c-row small-gap align-center">
                <img src="svg/section_dot.svg" class="section-dot" />
                <h1 class="fc-blue section-title fs-title">ÉTUDES</h1>
                <div class="c-row section-divider align-center">
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                    <span class="section-divider-line"></span>
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                </div>
            </div>
            <div class="c-row medium-gap" style="flex-wrap: wrap;">
                {{ range $.Site.Data.studies }}
                    <div class="c-column small-gap">
                        <div class="c-column">
                            <h2 class="fs-smallTitle">{{ .title }}</h2>
                            <a href="{{ .website }}" target="_blank" class="fs-smallTitle fc-black no-underline job-subtitle">{{ .subtitle }}</a>
                        </div>
                        <h3 class="fc-orange fs-default">{{ .years }}</h3>
                        <div class="c-column small-gap">
                        {{ range .tasks }}
                            <div class="c-row small-gap align-center"><img class="task-dot" src="svg/task_dot.svg" /><span class="fs-small">{{ . }}</span></div>
                        {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="c-column medium-gap">
            <div class="c-row small-gap align-center">
                <img src="svg/section_dot.svg" class="section-dot" />
                <h1 class="fc-blue section-title fs-title">ASSOCIATIF</h1>
                <div class="c-row section-divider align-center">
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                    <span class="section-divider-line"></span>
                    <img class="section-divider-dot" src="svg/section_divider.svg" />
                </div>
            </div>
            <div class="c-row medium-gap" style="flex-wrap: wrap;">
                {{ range $.Site.Data.nonprofit }}
                    <div class="c-column small-gap">
                        <div class="c-column">
                            <h2 class="fs-smallTitle">{{ .title }}</h2>
                            <a href="{{ .website }}" target="_blank" class="fs-smallTitle fc-black no-underline job-subtitle">{{ .subtitle }}</a>
                        </div>
                        <h3 class="fc-orange fs-default">{{ .years }}</h3>
                        <div class="c-column small-gap">
                        {{ range .tasks }}
                            <div class="c-row small-gap align-center"><img class="task-dot" src="svg/task_dot.svg" /><span class="fs-small">{{ . }}</span></div>
                        {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>

</html>
